<h1><%= @effect.name %></h1>
<p><%= @effect.description %></p>
<p>Power Level: <%= @effect.power_level %></p>

<%= link_to 'Edit', edit_effect_path(@effect) %> |
<%= link_to 'Back to Effects', effects_path %>
