<% content_for :admin_breadcrumb do %>
  <span class="admin-breadcrumb">
    <a href="<%= admin_root_path %>"><%= t('admin.dashboard') %></a>
    <span class="sep">/</span>
    <a href="<%= admin_effects_path %>"><%= t('nav.effects') %></a>
    <span class="sep">/</span>
    <span class="current"><%= t('admin.effects.edit') %>: <%= @effect.name %></span>
  </span>
<% end %>
<div class="admin-page-header">
  <div class="admin-page-title">
    <div class="admin-title-icon bg-info bg-opacity-10"><i class="bi bi-pencil text-info"></i></div>
    <div><h5><%= t('admin.effects.edit') %>: <%= @effect.name %></h5></div>
  </div>
</div>
<%= render 'form', effect: @effect %>
